@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("OpenSans-Light"),
		url(../fonts/Roboto-Light.ttf) format("ttf");
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("OpenSans"),
		url(../fonts/Roboto-Regular.ttf) format("ttf");
}
